@import '~bootstrap/scss/bootstrap';
@import './config.scss';

@font-face {
  font-family: 'Biennale Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/BiennaleRegular.otf') format('opentype');
}

html {
  height: 100%;
}

body {
  font-family: 'Biennale Regular';
  height: 100%;
}

#__next {
  flex: 1 1 0%;
  flex-direction: column;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  height: 100%;
  justify-content: center;
  padding: 0;
}

input,
select {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $primaryColor;
  font-size: 14px;
  letter-spacing: .01em;
  min-width: 150px;
  background-color: transparent;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom: 1ox solid $mediumGreyColor;

  &:focus {
    border-bottom: 1ox solid $primaryColor;
  }

  outline: none;

  &::placeholder {
    color: $mediumGreyColor;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $mediumGreyColor;
  }

  &::-ms-input-placeholder {
    color: $mediumGreyColor;
  }
}

.error {
  text-align: center;
  color: $errorColor;
  font-weight: bold;
}

@media screen and (min-width: $mediaQueryDesktop) {

  input,
  select {
    border-radius: 8px;
    border-width: 1px;
    padding: 5px;
    outline: none;
  }

  select {
    min-width: 125px;
  }
}

@import './login.scss';
@import './header.scss';
@import './footer.scss';
@import './filters.scss';
@import './list.scss';
@import './item.scss';
@import './modal.scss';
@import './input-date.scss';
